﻿@page "/dashboard"
@inject VideoManager _videoManager;

<h1>Dashboard</h1>

<div class="flex gap-5">
  <div class="flex flex-col gap-5">
    <VideoFilter OnFilterTermChanged="FilterChanged"></VideoFilter>
    <VideoList SelectedVideo="_videoManager.SelectedVideo"
               Videos="Videos"
               OnSelectedVideoChanged="(newVideo)=>_videoManager.SelectedVideo = newVideo">
    </VideoList>
  </div>
  <VideoPreview Video="_videoManager.SelectedVideo"></VideoPreview>
</div>

@code {
  List<Video> Videos = new() { };

  protected override async Task OnParametersSetAsync()
  {
    Videos = (await _videoManager.GetVideos()).ToList();
  }

  async void FilterChanged(string filterTerm)
  {
    Videos = (await _videoManager.GetVideos(filterTerm)).ToList();
    StateHasChanged();
  }
}
