﻿<ul>
  @foreach (var video in Videos)
  {
    string entryClass = "";
    if(video.Id == SelectedVideo?.Id)
    {
      entryClass = "bg-gray-200";
    }
    <li @onclick="()=>OnSelectedVideoChanged.InvokeAsync(video)" class="@entryClass">
      <img width="300" src="http://img.youtube.com/vi/@video.Id/0.jpg" />
      <p>@video.Title - @video.Author</p>
    </li>
  }
</ul>

@code {
  [Parameter]
  public List<Video> Videos { get; set; } = new(){};

  [Parameter]
  public Video? SelectedVideo { get; set; }

  [Parameter]
  public EventCallback<Video> OnSelectedVideoChanged { get; set; }


}
