﻿<label>
  Filter Videos:
  <input value="@FilterTerm"
         @oninput="FilterChanged"
         class="border border-solid" />
</label>

@code {

  [Parameter]
  public string FilterTerm { get; set; } = "";

  [Parameter]
  public EventCallback<string> OnFilterTermChanged { get; set; }

  public void FilterChanged(ChangeEventArgs args)
  {
    OnFilterTermChanged.InvokeAsync(args?.Value?.ToString());
  }

}
